<div class="container mx-auto">
    <form [formGroup]="resumeFormGroup">
        <mat-stepper [linear]="false" #stepper formArrayName="formArray" [orientation]="(stepperOrientation | async)!">
            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" [editable]="isEditable">
                <div class="step-zero-wrapper mt-4">
                    <ng-template matStepLabel>Personal Details</ng-template>
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" placeholder="Name" required>
                                <mat-error>Name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" placeholder="Email" required>
                                <mat-error>Email is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile</mat-label>
                                <input matInput formControlName="mobile" placeholder="Mobile" required>
                                <mat-error>Mobile no. is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>LinkedIn</mat-label>
                                <input matInput formControlName="linkedin" placeholder="LinkedIn profile URL" required>
                                <mat-error>LinkedIn profile is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline">
                                <mat-label>GitHub</mat-label>
                                <input matInput formControlName="github" placeholder="Github Profile URL" required>
                                <mat-error>GitHub profile is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-form-field appearance="outline" class="example-chip-list">
                                <mat-label>Skills</mat-label>
                                <mat-chip-list #chipList aria-label="Skills selection">
                                  <mat-chip *ngFor="let skill of skillNames" [selectable]="selectable"
                                           [removable]="removable" (removed)="remove(skill)">
                                    {{skill.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                  </mat-chip>
                                  <input 
                                        matInput
                                        formControlName="skills"
                                        placeholder="Add Skills"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="add($event)"
                                        required>
                                </mat-chip-list>
                                <mat-error>Atleast 8 skills need to be added</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                   
                    <div>
                    <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" [editable]="isEditable">
                <div class="step-one-wrapper mt-4">
                    <ng-template matStepLabel>Education</ng-template>
                    <div formArrayName="education">
                       <div  *ngFor="let edu of formArray?.get([1]).controls.education.controls let i = index">
                           <div [formGroupName]="i" class="mb-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>School/College/University</mat-label>
                                            <input matInput formControlName="college_or_uni" placeholder="School/College/University" required>
                                            <mat-error>College name is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Degree</mat-label>
                                            <input matInput formControlName="degree" placeholder="Degree" required>
                                            <mat-error>Degree is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Marks/Percentage/GPA</mat-label>
                                            <input matInput formControlName="marks_perc_gpa" placeholder="Marks/Percentage/GPA" required>
                                            <mat-error>Marks details are required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>From</mat-label>
                                            <input matInput formControlName="from" [matDatepicker]="picker1">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error>From date is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>To</mat-label>
                                            <input matInput formControlName="to" [matDatepicker]="picker2">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                            <mat-error>To date is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="example-button-container">
                                            <button mat-fab color="primary" class="form-add" type="button" (click)="addEducationFormGroup()" aria-label="Example icon button with a home icon">
                                              <mat-icon>add</mat-icon>
                                            </button>
                                            <button *ngIf="i !== 0" mat-fab color="warn" class="form-remove" type="button" (click)="deleteEducationFormGroup(i)" aria-label="Example icon button with a home icon">
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
</div>