.subtitle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 22px;
}

.subtitle-text,
.download-preview-button {
  margin: 10px;
}

@media (min-width: 600px) {
  .subtitle-content {
    flex-direction: row;
  }

  .subtitle-text {
    margin-right: 10px;
    padding-top: 13px;
  }
}

mat-form-field {
  width: 100%;
}
.form-add {
  margin-right: 5px;
}

.form-remove {
  margin-left: 5px;
}

.stepperNextBtn {
  margin-left: 5px;
}

.stepperBackBtn {
  margin-right: 5px;
}
.resume-form-section {
  min-height: calc(100vh - 140px);
}
.page-title {
  margin-left: 30px;
  margin-top: 10px;
  padding-top: 40px;
  font-size: 40px;
  line-height: 40px;
  font-family: "Commissioner", sans-serif;
}

.subtitle-section {
  margin-left: 20px;
}

.foot-note {
  font-family: "Commissioner", sans-serif;
}

.sample-dnld-btn {
  margin-left: 30px;
}
