<!-- <app-resume-form></app-resume-form> -->
<section class="component-section">
  <mat-toolbar>
    <div class="toolbar-menu mx-auto">
      <span
        class="toolbar-menu-item mat-headline-4"
        (click)="goToRoute('/home')"
      >
        Home</span
      >
      <span class="toolbar-menu-item" (click)="goToRoute('/preview')">
        Sample Preview
      </span>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <mat-toolbar>
    <div class="container col-lg-12">
      <p class="text-center mat-body-1 mt-2">Made by Elkay 😎</p>
    </div>
  </mat-toolbar>
</section>
